<?xml version="1.0" encoding="utf-8"?>
<config>
  <images>
    <gridImage path = "img\\ingame_grid.png" XStlasSize = "1" YAtlasSize = "1">
      <grid X = "0" Y = "0"/>
    </gridImage>
    <selectedGridImage path = "img\\ingame_grid_highlighted.png" XStlasSize = "1" YAtlasSize = "1">
      <selectedGrid X = "0" Y = "0"/>
    </selectedGridImage>
    <gemImage path = "img\\sprite_fruit_face_atlas_01.png" XStlasSize = "4" YAtlasSize = "4">
      <gem X = "1" Y = "0"/>
      <gem X = "2" Y = "0"/>
      <gem X = "0" Y = "1"/>
      <gem X = "2" Y = "1"/>
      <gem X = "3" Y = "2"/>
    </gemImage>
    <bombGemImage path = "img\\sprite_arrow_atlas.png" XStlasSize ="4" YAtlasSize ="4">
      <bombGem X = "1" Y = "0"/>
      <bombGem X = "0" Y = "0"/>
      <bombGem X = "0" Y = "1"/>
      <bombGem X = "2" Y = "0"/>
      <bombGem X = "3" Y = "0"/>
    </bombGemImage>
    <arrowUpImage path = "img\\sprite_arrow_atlas.png" XStlasSize ="4" YAtlasSize ="8">
      <lineGem X = "2" Y = "2"/>
      <lineGem X = "1" Y = "6"/>
      <lineGem X = "3" Y = "6"/>
      <lineGem X = "1" Y = "4"/>
      <lineGem X = "3" Y = "4"/>
    </arrowUpImage>
    <arrowDownImage path = "img\\sprite_arrow_atlas.png" XStlasSize ="4" YAtlasSize ="8">
      <lineGem X = "2" Y = "3"/>
      <lineGem X = "1" Y = "7"/>
      <lineGem X = "3" Y = "7"/>
      <lineGem X = "1" Y = "5"/>
      <lineGem X = "3" Y = "5"/>
    </arrowDownImage>
    <arrowLeftImage path = "img\\sprite_arrow_atlas.png" XStlasSize ="8" YAtlasSize ="4">
      <lineGem X = "2" Y = "1"/>
      <lineGem X = "0" Y = "3"/>
      <lineGem X = "4" Y = "3"/>
      <lineGem X = "0" Y = "2"/>
      <lineGem X = "4" Y = "2"/>
    </arrowLeftImage>
    <arrowRightImage path = "img\\sprite_arrow_atlas.png" XStlasSize ="8" YAtlasSize ="4">
      <lineGem X = "3" Y = "1"/>
      <lineGem X = "1" Y = "3"/>
      <lineGem X = "5" Y = "3"/>
      <lineGem X = "1" Y = "2"/>
      <lineGem X = "5" Y = "2"/>
    </arrowRightImage>
  </images>
</config>