<?xml version="1.0" encoding="utf-8"?>
<config>
  <gemSettings>
    <defaultGemDestroyTime>
      0.1
    </defaultGemDestroyTime>
    <bombGemDestroyTime>
      1.0
    </bombGemDestroyTime>
    <lineGemDestroyTime>
      0.1
    </lineGemDestroyTime>
  </gemSettings>
  <images>
    <gridImage path = "img\\ingame_grid.png" XStlasSize ="1" YAtlasSize ="1">
      <grid>
        <X>0</X>
        <Y>0</Y>
      </grid>
    </gridImage>
    <selectedGridImage path = "img\\ingame_grid_highlighted.png" XStlasSize ="1" YAtlasSize ="1">
      <selectedGrid>
        <X>0</X>
        <Y>0</Y>
      </selectedGrid>
    </selectedGridImage>
    <gemImage path = "img\\sprite_fruit_face_atlas_01.png" XStlasSize ="4" YAtlasSize ="4">
      <gem>
        <X>1</X>
        <Y>0</Y>
      </gem>
      <gem>
        <X>2</X>
        <Y>0</Y>
      </gem>
      <gem>
        <X>0</X>
        <Y>1</Y>
      </gem>
      <gem>
        <X>2</X>
        <Y>1</Y>
      </gem>
      <gem>
        <X>3</X>
        <Y>2</Y>
      </gem>
    </gemImage>
    <bombGemImage path = "img\\sprite_arrow_atlas.png" XStlasSize ="4" YAtlasSize ="4">
      <bombGem>
        <X>1</X>
        <Y>0</Y>
      </bombGem>
      <bombGem>
        <X>0</X>
        <Y>0</Y>
      </bombGem>
      <bombGem>
        <X>0</X>
        <Y>1</Y>
      </bombGem>
      <bombGem>
        <X>2</X>
        <Y>0</Y>
      </bombGem>
      <bombGem>
        <X>3</X>
        <Y>0</Y>
      </bombGem>
    </bombGemImage>
    <arrowUpImage path = "img\\sprite_arrow_atlas.png" XStlasSize ="4" YAtlasSize ="8">
      <lineGem>
        <X>2</X>
        <Y>2</Y>
      </lineGem>
      <lineGem>
        <X>1</X>
        <Y>6</Y>
      </lineGem>
      <lineGem>
        <X>3</X>
        <Y>6</Y>
      </lineGem>
      <lineGem>
        <X>0</X>
        <Y>4</Y>
      </lineGem>
      <lineGem>
        <X>3</X>
        <Y>4</Y>
      </lineGem>
    </arrowUpImage>
    <arrowDownImage path = "img\\sprite_arrow_atlas.png" XStlasSize ="4" YAtlasSize ="8">
      <lineGem>
        <X>2</X>
        <Y>3</Y>
      </lineGem>
      <lineGem>
        <X>1</X>
        <Y>7</Y>
      </lineGem>
      <lineGem>
        <X>3</X>
        <Y>7</Y>
      </lineGem>
      <lineGem>
        <X>0</X>
        <Y>5</Y>
      </lineGem>
      <lineGem>
        <X>3</X>
        <Y>5</Y>
      </lineGem>
    </arrowDownImage>
    <arrowLeftImage path = "img\\sprite_arrow_atlas.png" XStlasSize ="8" YAtlasSize ="4">
      <lineGem>
        <X>2</X>
        <Y>1</Y>
      </lineGem>
      <lineGem>
        <X>0</X>
        <Y>3</Y>
      </lineGem>
      <lineGem>
        <X>4</X>
        <Y>3</Y>
      </lineGem>
      <lineGem>
        <X>0</X>
        <Y>2</Y>
      </lineGem>
      <lineGem>
        <X>4</X>
        <Y>2</Y>
      </lineGem>
    </arrowLeftImage>
    <arrowRightImage path = "img\\sprite_arrow_atlas.png" XStlasSize ="8" YAtlasSize ="4">
      <lineGem>
        <X>3</X>
        <Y>1</Y>
      </lineGem>
      <lineGem>
        <X>1</X>
        <Y>3</Y>
      </lineGem>
      <lineGem>
        <X>5</X>
        <Y>3</Y>
      </lineGem>
      <lineGem>
        <X>1</X>
        <Y>2</Y>
      </lineGem>
      <lineGem>
        <X>5</X>
        <Y>2</Y>
      </lineGem>
    </arrowRightImage>
  </images>
</config>